/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.card-img-custom {
    max-width: 50%;
    display: flex;
    align-self: center;
    margin-top: 2em;
}


.logonge {
    max-width: 50%;
}

.imgtengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:190px;
    width:360px;
}

/* Timeline custom component */
.timeline-card {
    position: relative;
    margin-left: 16px; }
  
  .timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 16px;
    left: -12px;
    border: 5px solid;
    z-index: 2; }
  
  .timeline-body {
    border-left: 2px solid #E6E9ED; }
  
  .timeline-card-primary:before {
    border-color: var(--bs-primary); }
  
  .timeline-card-info:before {
    border-color: var(--bs-info); }
  
  .timeline-card-secondary:before {
    border-color: var(--bs-secondary); }
  
  .timeline-card-success:before {
    border-color: var(--bs-teal); }

.strongs{
  color: #ff8c00;
}