/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.card-img-custom {
    max-width: 50%;
    display: flex;
    align-self: center;
    margin-top: 2em;
}


.logonge {
    max-width: 50%;
}

.imgtengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:190px;
    width:360px;
}

